---
layout: default
meta-info: false
---

<div class="grid-row">

	{% include layouts/header.html %}

</div>

<div class="grid-row">
<div class="grid-column-two-thirds">

	<div id="page--content">

			<form action="" method="post" id="" name="" target="_blank">

					<fieldset id="fieldset--personal-details" aria-describedby="fieldset-legend--personal-details">
				    <legend id="fieldset-legend--personal-details" class="legend-lg">Your contact details</legend>

						<label class="input-label label-sm" for="register--first-name">First name</label>
						<input class="input" id="register--first-name" name="register--first-name" type="text">

						<label class="input-label label-sm" for="register--last-name">Last name</label>
						<input class="input" id="register--last-name" name="register--last-name" type="text">

						<label class="input-label label-sm" for="register--email-address">Email address</label>
						<input class="input" id="register--email-address" name="register--email-address" type="email">

					</fieldset>

					<blockquote class="warning-text">
						<p>If you answer the questions in this section, we'll be able to keep you informed of events or activities that might be more relevant to you. You don't have to answer these questions if you don't want to.</p>
					</blockquote>

					<fieldset id="fieldset--regions" aria-describedby="fieldset-hint--regions">
				    <legend id="fieldset-legend--regions" class="legend-lg">You want to hear about events and activities taking place in:</legend>
						<p class="hint" id="fieldset-hint--regions">Select all that apply</p>
						<div class="checkboxes">
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="regions--east-of-england" name="regions" type="checkbox" value="East of England">
								<label class="checkboxes--label" for="regions--east-of-england">East of England</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="regions--east-midlands" name="regions" type="checkbox" value="East Midlands">
								<label class="checkboxes--label" for="regions--east-midlands">East Midlands</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="regions--london" name="regions" type="checkbox" value="London">
								<label class="checkboxes--label" for="regions--london">London</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="regions--north-east" name="regions" type="checkbox" value="North East">
								<label class="checkboxes--label" for="regions--north-east">North East</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="regions--north-west" name="regions" type="checkbox" value="North West">
								<label class="checkboxes--label" for="regions--north-west">North West</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="regions--northern-ireland" name="regions" type="checkbox" value="Northern Ireland">
								<label class="checkboxes--label" for="regions--northern-ireland">Northern Ireland</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="regions--scotland" name="regions" type="checkbox" value="Scotland">
								<label class="checkboxes--label" for="regions--scotland">Scotland</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="regions--south-east" name="regions" type="checkbox" value="South East">
								<label class="checkboxes--label" for="regions--south-east">South East</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="regions--south-west" name="regions" type="checkbox" value="South West">
								<label class="checkboxes--label" for="regions--south-west">South West</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="regions--wales" name="regions" type="checkbox" value="Wales">
								<label class="checkboxes--label" for="regions--wales">Wales</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="regions--west-midlands" name="regions" type="checkbox" value="West Midlands">
								<label class="checkboxes--label" for="regions--west-midlands">West Midlands</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="regions--yorkshire-and-humber" name="regions" type="checkbox" value="Yorkshire and Humber">
								<label class="checkboxes--label" for="regions--yorkshire-and-humber">Yorkshire and Humber</label>
							</div>
						</div>
					</fieldset>

					<fieldset id="fieldset--topics" aria-describedby="fieldset-hint--topics">
				    <legend id="fieldset-legend--topics" class="legend-lg">You want to hear about things relevant to:</legend>
						<p class="hint" id="fieldset-hint--topics">Select all that apply</p>
						<div class="checkboxes">
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="topics--gaylesbian" name="topics" type="checkbox" value="">
								<label class="checkboxes--label" for="topics--gaylesbian">Gay or lesbian people</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="topics--bisexual" name="topics" type="checkbox" value="Bisexual people">
								<label class="checkboxes--label" for="topics--bisexual">Bisexual people</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="topics--othersexualorientations" name="topics" type="checkbox" value="People with other minority sexual orientations">
								<label class="checkboxes--label" for="topics--othersexualorientations">People with other minority sexual orientations</label>
							</div>
							<hr>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="topics--men" name="topics" type="checkbox" value="Men">
								<label class="checkboxes--label" for="topics--men">Men</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="topics--women" name="topics" type="checkbox" value="Women">
								<label class="checkboxes--label" for="topics--women">Women</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="topics--nonbinary" name="topics" type="checkbox" value="Non-binary people">
								<label class="checkboxes--label" for="topics--nonbinary">Non-binary people</label>
							</div>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="topics--othergenderidentities" name="topics" type="checkbox" value="People with other minority gender identities and expressions">
								<label class="checkboxes--label" for="topics--othergenderidentities">People with other minority gender identities and expressions</label>
							</div>
							<hr>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="topics--trans" name="topics" type="checkbox" value="People who are trans, or have a trans history">
								<label class="checkboxes--label" for="topics--trans">People who are trans, or have a trans history</label>
							</div>
							<hr>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="topics--intersex" name="topics" type="checkbox" value="People who are intersex or who have a variation in sex characteristics">
								<label class="checkboxes--label" for="topics--intersex">People who are intersex or who have a variation in sex characteristics</label>
							</div>
							<hr>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="topics--minorityethnicity" name="topics" type="checkbox" value="People who have a minority ethnicity">
								<label class="checkboxes--label" for="topics--minorityethnicity">People who have a minority ethnicity</label>
							</div>
							<hr>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="topics--disability" name="topics" type="checkbox" value="People who have a disability or long term health condition">
								<label class="checkboxes--label" for="topics--disability">People who have a disability or long term health condition</label>
							</div>
							<hr>
							<div class="checkboxes--item">
								<input class="checkboxes--input" id="topics--allies" name="topics" type="checkbox" value="LGBT allies">
								<label class="checkboxes--label" for="topics--allies">LGBT allies</label>
							</div>
						</div>
					</fieldset>

					<blockquote class="warning-text">
						<p>By submitting this form and joining our newsletter, you become a member of the Civil Service LGBT+ Network.</p>
						<p>Please tick the box below to give us permission to contact you.</p>
					</blockquote>

					<blockquote>

					{{ content }}

					</blockquote>

					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="antibotchecks" tabindex="-1" value=""></div>

					<div class="grid-row">
						<div class="grid-column-full">
							<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
						</div>
					</div>

				</div>

			</form>

	</div>
</div>
</div>