<div class="fieldset-row" id="document--all-folders">

	<span class="caption-md">Step 1 of 3</span>
	<fieldset id="document--all-folders--fieldset" aria-describedby="document--all-folders--hint" class="fieldset">

		<legend id="document--all-folders--title">
			Select a folder
		</legend>
		<p id="document--all-folders--hint" class="hint">Choose an directory to view the files that have been uploaded.</p>

		<div class="folder-navigation">

			<div class="folder-name">
				<p class="heading-md">🗂 All folders</p>

				<div class="button-group button-group--clearfix">
					<button class="button button--align-right" onclick="openFolder('document--all-folders', 'folder');">Open folder ❯</button>
				</div>
			</div>

			<div class="radios">

			{% assign documents = site.static_files | where: "document", true %}
			{% for document in documents %}

				{% assign file = document.basename | prepend: '/' | append: document.extname %}
				{% assign currentfolder = document.path | remove: '/store/' | remove: file %}
				{% assign nofolder = document.path | remove: '/store/' | remove: document.basename | remove: document.extname %}
				{% assign foldername = document.path | remove: '/store' | remove: document.basename | remove: document.extname %}
				{% assign filename = document.basename | remove: document.extname | remove: "+" | replace: "-", " " | replace: "lgbti", "LGBTI" | replace: "lgbt", "LGBT" %}

				{% if currentfolder != folder %}{% unless nofolder =="" %}
				<div class="radios--item">
					<input class="radios--input"
						id="radio--folder--{{ foldername | slugify }}"
						name="folder"
						type="radio"
						value="folder--{{ foldername | slugify }}">
					<label class="radios--label" for="radio--folder--{{ foldername | slugify }}">
						{% if nofolder == "" %}
							No folder
						{% else %}
							{{ foldername | slugify | replace: "-", " " | capitalize | prepend: "🗂 " }}
						{% endif %}
					</label>
				</div>
				{% assign folder = currentfolder %}
				{% endunless %}{% endif %}
			{% endfor %}

			</div>

		</div>

	</fieldset>

</div>

{% assign documents = site.static_files | where: "document", true %}
{% for document in documents %}

	{% assign file = document.basename | prepend: '/' | append: document.extname %}
	{% assign currentfolder = document.path | remove: '/store/' | remove: file %}
	{% assign nofolder = document.path | remove: '/store/' | remove: document.basename | remove: document.extname %}
	{% assign foldername = document.path | remove: '/store' | remove: document.basename | remove: document.extname %}
	{% assign filename = document.basename | remove: document.extname | remove: "+" | replace: "-", " " | replace: "lgbti", "LGBTI" | replace: "lgbt", "LGBT" %}

	{% if currentfolder != folder %}{% unless nofolder =="" %}

	{% unless forloop.first %}

			</div>

		</div>

	</div>
	{% endunless %}


	<div class="fieldset-row" id="folder--{{ foldername | slugify }}" hidden>
	<span class="caption-md">Step 2 of 3</span>


		<legend id="document--all-folders--title">
			Select an document
		</legend>
		<p id="document--all-folders--hint" class="hint">Select the document from the list below, and then select "Open document" to view the document details.</p>

		<div class="folder-navigation">

			<div class="folder-name">
				<p class="heading-md">{{ foldername | slugify | replace: "-", " " | capitalize | prepend: "🗂 " }}</p>

				<div class="button-group button-group--clearfix">
					<button class="button" onclick="backFolder('folder--{{ foldername | slugify }}', 'document--all-folders');">❮ Back</button>
					<button class="button button--align-right" onclick="openDocumentDetails('folder--{{ foldername | slugify }}', 'document--details', 'radios--{{ foldername | slugify }}');">Open document ❯</button>
				</div>
			</div>


			<div class="radios">

		{% assign folder = currentfolder %}
		{% endunless %}{% endif %}


			<div class="radios--item">
				<input class="radios--input"
					id="document--{{ document.path | slugify }}"
					name="radios--{{ foldername | slugify }}"
					type="radio"
					value="{{ document.path | slugify }}"

					data-foldername="{{ foldername }}"
					data-filename="{{ document.basename }}"
					data-filetype="{{ document.extname }}"
					data-filemodified="{{ document.modified_time | date:'%-d %B %Y, %H:%M' }}"
					data-path={{ document.path }}>
				<label class="radios--label" for="document--{{ document.path | slugify }}">
					{{ filename }}
				</label>
			</div>

	{% if forloop.last %}

			</div>

		</div>

	</div>
	{% endif %}

{% endfor %}

<div class="fieldset-row" id="document--details" hidden>

	<span class="caption-md">Step 3 of 3</span>
	<fieldset id="document--all-folders--fieldset" aria-describedby="document--all-folders--hint" class="fieldset">

		<legend id="document--all-folders--title">
			Document details
		</legend>
		<p id="document--all-folders--hint" class="hint">Choose an directory to view the files that have been uploaded.</p>

		<div class="folder-navigation">

			<div class="folder-name">
				<p class="heading-md">Document details</p>

				<div class="button-group button-group--clearfix">
					<button class="button" onclick="backFolder('document--details', 'document--all-folders');">❮ Start again</button>
				</div>
			</div>

			<div class="radios">

				<img id="details--document-preview" src="">

				<div class="button-group button-group--clearfix">
					<button class="button" onclick="openDocumentInWindow()">Open this file</a>
					<button class="button" onclick="copyDocumentURL();" title="Copy “{{ filename }}” URL to clipboard" target="_blank">Copy file URL</button>
				</div>

				<p>
					<strong>File name:</strong><br>
					<span id="details--filename">placeholder</span>
				</p>

				<p>
					<strong>File type:</strong><br>
					<span id="details--filetype">placeholder</span>
				</p>

				<p>
					<strong>File modified:</strong><br>
					<span id="details--filemodified">placeholder</span>
				</p>

				<p>
					<strong>Parent folder:</strong><br>
					<span id="details--foldername">placeholder</span>
				</p>

				<p>
					<strong>Document path:</strong><br>
					<span id="details--path">placeholder</span>
				</p>

			</div>

		</div>

	</fieldset>

</div>