<details>
	<summary>Download as a file</summary>

	<p>Click the button below to download the post content as a plain text file in Markdown format.</p>

	<p>Attach the file to an email and send it to <a href="mailto:info@civilservice.lgbt"><code>info@civilservice.lgbt</code></a>.</p>

	<p>If you need to edit the content of the post after you have downloaded it, you can open the file using TextEdit on a Mac or Notepad on a Windows PC.</p>

	<button class="button">Download the file</button>

</details>