<details>
	<summary>Add to GitHub directly</summary>

	<h3>1. Open GitHub in a new window</h3>

	<p>Click the button below to copy the file name to your clipboard.</p>

	<button class="button">Open GitHub in a new window</button>

	<hr>

	<h3>2. Copy the filename to the clipboard</h3>

	<p>Click the button below to copy the file name to your clipboard.</p>

	<p>Paste the file name into the "Name your file..." field in the GitHub window.</p>

	<div class="button-group">
		<button class="button">Copy filename to clipboard</button>
		<button class="button button--secondary">Go back to the GitHub window</button>
	</div>

	<hr>

	<h3>3. Copy the post content to the clipboard</h3>

	<p>Click the button below to copy the post content to your clipboard.</p>

	<p>Paste the post content into the large text field in the GitHub window.</p>

	<div class="button-group">
		<button class="button">Copy post content to clipboard</button>
		<button class="button button--secondary">Go back to the GitHub window</button>
	</div>

	<hr>

	<h3>4. Commit the file</h3>

	<p>On the GitHub window, select "Commit new file", at the bottom of the page.</p>

	<button class="button">Go back to the GitHub window</button>

</details>