<fieldset id="fieldset--post-topic" aria-describedby="fieldset--post-topic--title">
	<legend id="fieldset--post-topic--title" class="legend-lg">Topic</legend>


	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-topic">
				Topic
			</label>
			<div id="fieldset--post-topic--hint" class="hint">
				{% if type == "topic" %}
				Topic pages aggregate all posts with the same topic. Use the same 'topic' here as you did on your posts.
				{% else %}
				If this post relates to one of the <a href="/topics">topic pages</a> on the website, enter the last part of the URL.
				{% endif %}
			</div>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-topic" name="post-topic" type="text" placeholder="pride-2021">
		</div>
	</div>

</fieldset>