<fieldset id="fieldset--event-location" aria-describedby="fieldset--event-location--hint">
	<legend id="fieldset--event-location--title" class="legend-lg">Event location</legend>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-registration-location">
				Location
			</label>
			<div id="fieldset--post-registration-location--hint" class="hint">
				Enter either the name of the digital service that will be used or the address for the venue.
			</div>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-registration-location" name="post-registration-location" type="text" placeholder="'Google Meet' or '100 Parliament Street, London'">
		</div>
	</div>

</fieldset>