<fieldset id="fieldset--post-permalink" aria-describedby="fieldset--post-permalink--title">
	<legend id="fieldset--post-permalink--title" class="legend-lg">Permalinks and redirects</legend>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-permalink">
				Permalink
			</label>
			<p class="hint" id="post-permalink--hint">Amend this field to change the post permalink.</p>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-permalink" name="post-permalink" type="text" placeholder="/2021/12/31/name-of-your-post/">
		</div>
	</div>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-redirect-from">
				Redirect from
			</label>
			<p class="hint" id="post-redirect-from--hint">Use this to redirect from another page to this page.</p>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-redirect-from" name="post-redirect-from" type="text" placeholder="/2021/12/31/name-of-your-post/">
		</div>
	</div>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-redirect-to">
				Redirect to
			</label>
			<p class="hint" id="post-redirect-to--hint">Use this to redirect to another page from this page.</p>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-redirect-to" name="post-redirect-to" type="text" placeholder="/2021/12/31/name-of-your-post/">
		</div>
	</div>

</fieldset>