<fieldset id="fieldset--post-filename" aria-describedby="fieldset--post-filename--title">
	<legend id="fieldset--post-filename--title" class="legend-lg">File name</legend>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-filename">
				File name
			</label>
			<p class="hint" id="post-filename--hint">Amend this field to change the post filename. You usually don't need to change this.</p>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-filename" name="post-filename" type="text" placeholder="file-name.md" onfocusout="cleanFieldInput('post-filename', 'spaces')">
		</div>
	</div>

</fieldset>