<fieldset id="fieldset--event-registration-info" aria-describedby="fieldset--event-registration-info--title">
	<legend id="fieldset--event-registration-info--title" class="legend-lg">Event registration details</legend>


	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-registration-form">
				Registration form
			</label>
			<div id="post-registration-form--hint" class="hint">
				If you want attendees to register online using a form, enter the URL for the form.
			</div>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-registration-form" name="post-registration-form" type="text" placeholder="https://eventbrite.co.uk/xyz">
		</div>
	</div>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-registration-email">
				Registration email address
			</label>
			<div id="post-registration-email--hint" class="hint">
				If you want attendees to register by email, enter the email address they should contact.
			</div>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-registration-email" name="post-registration-email" type="email" placeholder="register@civilservice.lgbt">
		</div>
	</div>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-registration-message">
				Registration message
			</label>
			<div id="post-registration-message--hint" class="hint">
				If this you don't want attendees to register in advance, enter a message explaining that here.
			</div>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-registration-message" name="post-registration-message" type="text" placeholder="No need to register. Just turn up.">
		</div>
	</div>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<p class="label-md">Registration deadline date and time</p>
			<div id="fieldset--event-registration-end-date--hint" class="hint">
				For example – 31 12 2021  18 00
			</div>
		</div>
		<div class="grid-column-two-thirds">
			<div id="post-event-registration-end-date" class="date-input">

				<div class="date-input--item">
					<label class="label-md" for="post-event-registration-end-day">Day</label>
					<input class="input date-input date-input--day" id="post-event-registration-end-day" name="post-event-registration-end-day" placeholder="DD" minlength="2" maxlength="2" type="text" pattern="[0-9]*" inputmode="numeric">
				</div>

				<div class="date-input--item">
					<label class="label-md" for="post-event-registration-end-month">Month</label>
					<input class="input date-input date-input--month" id="post-event-registration-end-month" name="post-event-registration-end-month" placeholder="MM" minlength="2" maxlength="2" type="text" pattern="[0-9]*" inputmode="numeric">
				</div>

				<div class="date-input--item">
					<label class="label-md" for="post-event-registration-end-year">Year</label>
					<input class="input date-input date-input--year" id="post-event-registration-end-year" name="post-event-registration-end-year" placeholder="YYYY" minlength="4" maxlength="4" type="text" pattern="[0-9]*" inputmode="numeric">
				</div>

				<div class="date-input--item">
					<label class="label-md" for="post-event-registration-end-hour">Hour</label>
					<input class="input date-input date-input--hour" id="post-event-registration-end-hour" name="post-event-registration-end-hour" placeholder="hh" minlength="2" maxlength="2" type="text" pattern="[0-9]*" inputmode="numeric">
				</div>

				<div class="date-input--item">
					<label class="label-md" for="post-event-registration-end-minute">Minute</label>
					<input class="input date-input date-input--minute" id="post-event-registration-end-minute" name="post-event-registration-end-minute" placeholder="mm" minlength="2" maxlength="2" type="text" pattern="[0-9]*" inputmode="numeric">
				</div>

			</div>
		</div>

</fieldset>