<fieldset id="fieldset--consultation-details" aria-describedby="fieldset--consultation-details--hint">
	<legend id="fieldset--consultation-details--title" class="legend-lg">Consultation details</legend>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-consultation-link">
				Consultation website
			</label>
			<div id="fieldset--post-consultation-link--hint" class="hint">
				Enter either the URL of the survey form or document.
			</div>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-consultation-link" name="post-consultation-link" type="text" placeholder="https://forms.google.com/xyz">
		</div>
	</div>

</fieldset>