<fieldset id="fieldset--event-registration-end-date" aria-describedby="fieldset--event-registration-end-date--hint">
	<legend id="fieldset--event-registration-end-date--title" class="legend-lg">Event registration closing date</legend>


	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<p class="label-md">Date and time</p>
			<div id="fieldset--event-registration-end-date--hint" class="hint">
				For example – 31 12 2021  18 00
			</div>
		</div>
		<div class="grid-column-two-thirds">
			<div id="post-event-registration-end-date" class="date-input">

				<div class="date-input--item">
					<label class="label-md" for="post-event-registration-end-day">Day</label>
					<input class="input date-input date-input--day" id="post-event-registration-end-day" name="post-event-registration-end-day" placeholder="DD" minlength="2" maxlength="2" type="text" pattern="[0-9]*" inputmode="numeric">
				</div>

				<div class="date-input--item">
					<label class="label-md" for="post-event-registration-end-month">Month</label>
					<input class="input date-input date-input--month" id="post-event-registration-end-month" name="post-event-registration-end-month" placeholder="MM" minlength="2" maxlength="2" type="text" pattern="[0-9]*" inputmode="numeric">
				</div>

				<div class="date-input--item">
					<label class="label-md" for="post-event-registration-end-year">Year</label>
					<input class="input date-input date-input--year" id="post-event-registration-end-year" name="post-event-registration-end-year" placeholder="YYYY" minlength="4" maxlength="4" type="text" pattern="[0-9]*" inputmode="numeric">
				</div>

				<div class="date-input--item">
					<label class="label-md" for="post-event-registration-end-hour">Hour</label>
					<input class="input date-input date-input--hour" id="post-event-registration-end-hour" name="post-event-registration-end-hour" placeholder="hh" minlength="2" maxlength="2" type="text" pattern="[0-9]*" inputmode="numeric">
				</div>

				<div class="date-input--item">
					<label class="label-md" for="post-event-registration-end-minute">Minute</label>
					<input class="input date-input date-input--minute" id="post-event-registration-end-month" name="post-event-registration-end-minute" placeholder="mm" minlength="2" maxlength="2" type="text" pattern="[0-9]*" inputmode="numeric">
				</div>

			</div>
		</div>
	</div>

</fieldset>