<fieldset id="fieldset--post-title-and-summary" aria-describedby="fieldset--post-title-and-summary--title">
	<legend id="fieldset--post-title-and-summary--title" class="legend-lg">Team member details</legend>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-team-member-role">
				Role
			</label>
			<p class="hint">This label determines which section of the team page the person appears on.</p>
			<p class="hint">For example – "vice-chair", "project team", "local organiser"</p>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-team-member-role" name="post-team-member-role" type="text">
		</div>
	</div>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-team-member-project">
				Project
			</label>
			<p class="hint">For example – "bi+ inclusion", "mentoring"</p>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-team-member-project" name="post-team-member-project" type="text">
		</div>
	</div>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-team-member-region">
				Region
			</label>
			<p class="hint">For example – "South west", "London"</p>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-team-member-region" name="post-team-member-region" type="text">
		</div>
	</div>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-team-member-email">
				Email
			</label>
			<p class="hint">For example – "southwest@civilservice.lgbt"</p>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-team-member-email" name="post-team-member-email" type="text">
		</div>
	</div>

</fieldset>
