<fieldset id="fieldset--post-team-member-details" aria-describedby="fieldset--post-team-member-details--title">
	<legend id="fieldset--post-team-member-details--title" class="legend-lg">Team member details</legend>
  
  <div class="grid-row form-row">
    <fieldset id="team-select-role" aria-describedby="team-select-role--hint" class="fieldset">
      <div class="grid-column-one-third">
        <legend class="inline-label label-md" id="team-select-role--title">Role</legend>
        <p id="team-select-role--hint" class="hint">This label determines which section of the team page the person appears on.</p>
      </div>
      <div class="grid-column-two-thirds">
      <div class="radios">
      
          <div class="radios--item">
              <input class="radios--input" id="team-select-role--vicechair" name="radios-team-select-role" type="radio" value="vice chair" checked>
              <label class="radios--label" for="team-select-role--vicechair">
                  Vice chair
              </label>
          </div>
      
          <div class="radios--item">
              <input class="radios--input" id="team-select-role--projectteam" name="radios-team-select-role" type="radio" value="project team">
              <label class="radios--label" for="team-select-role--projectteam">
                  Project team
              </label>
          </div>
      
          <div class="radios--item">
              <input class="radios--input" id="team-select-role--localorganiser" name="radios-team-select-role" type="radio" value="local organiser">
              <label class="radios--label" for="team-select-role--localorganiser">
                  Local organiser
              </label>
          </div>
      </div>
      </div>
    </fieldset>
  </div>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-team-member-project">
				Project
			</label>
			<p class="hint">For example – "bi+ inclusion", "mentoring"</p>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-team-member-project" name="post-team-member-project" type="text">
		</div>
	</div>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-team-member-region">
				Region
			</label>
			<p class="hint">For example – "South west", "London"</p>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-team-member-region" name="post-team-member-region" type="text">
		</div>
	</div>

	<div class="grid-row form-row">
		<div class="grid-column-one-third">
			<label class="inline-label label-md" for="post-team-member-email">
				Email
			</label>
			<p class="hint">For example – "southwest@civilservice.lgbt"</p>
		</div>
		<div class="grid-column-two-thirds">
			<input class="input" id="post-team-member-email" name="post-team-member-email" type="email">
		</div>
	</div>

</fieldset>
