---
layout: default
meta-info: false
caption: true
---

<article class="article--{{ page.layout }}">

	<div class="grid-row">
		{% include layouts/header.html %}
	</div>

	<div class="grid-row">
		<div class="grid-column-full">
			<div class="page--content">

				<div class="grid-row">
					<div class="grid-column-one-half">
						<div class="admin--link-block admin--link-block--tool">
						<span class="caption-lg">Tool</span>
							<h2>Upload an image</h2>
							<p>Use this tool to upload an image or photo to the image store.</p>
							<a href="/images/new" class="button">Upload an image</a>
						</div>
					</div>
					<div class="grid-column-one-half">
						<div class="admin--link-block admin--link-block--tool">
							<span class="caption-lg">Tool</span>
							<h2>Find an image</h2>
							<p>Use this tool to find an image that has already been uploaded to the image store.</p>
							<a href="/images/edit" class="button">Find an image</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</article>