---
layout: default
meta-info: false
---

{% assign type = page.url | remove: '/tools/new/' | remove: '/' %}

<section id="post-generator" class="section--{{ page.layout }}" data-posttype="{{ type }}">

	<div class="grid-row">
		{% include layouts/header.html %}
	</div>

	<div class="grid-row" style="margin-bottom: 40px;">
		<div class="grid-column-two-thirds">

				<details>

					<summary>About this tool</summary>

						<p>The <strong>Civil Service LGBT+ Network</strong> uses GOV.UK Notify to send transactional emails informing our mailing lists of updates to our website. The updates we send our relate to new blog posts, publications and events.</p>

						<p>Use this tool to generate content for GOV.UK Notify's templating feature, and to be guided step by step through sending an email to the mailing list.</p>

						<p>Emails should be sent sparingly to avoid spam.</p>

						<blockquote class="warning-text">
							<p><strong>This form might not work on your departmental IT system.</strong></p>
							<p>There is nothing we can do to fix this. If you experience problems, try using a personal device instead.</p>
						</blockquote>

				</details>

		</div>
	</div>

	<div class="grid-row">
		<div class="grid-column-full">

			<div class="admin--select">

			<div class="grid-row">

				<div class="grid-column-one-third">
					<h2 class="admin-inputs">Choose posts</p>
				</div>
				<div class="grid-column-two-thirds">
					<div class="fieldset--email-notify">

						<fieldset  id="notify--custom-properties">
							<legend>Choose the topic you are generating an update for</legend>

							<div class="radios">
                {% assign topics = site.topics | where: "topic-type", "region" | sort: "title" %}
                {% for topic in topics %}
                  <div class="radios--item">
									  <input onchange="updateContent('topics')" class="radios--input" id="topics--{{ topic.title | slugify }}" name="topic-select" type="radio" value="{{ topic.title }}" {% if forloop.first == true %}checked{% endif %}>
									  <label class="radios--label" for="topics--{{ topic.title | slugify }}">{{ topic.title }}</label>
								  </div>
                {% endfor %}
							</div>

						</fieldset>
						<fieldset id="notify--select-posts">

					    <legend>Select items to include in email</legend>

								<p class="label-md">Posts</p>
								<p class="hint" style="margin-bottom: 45px">Only posts published in the past 2 months are shown.</p>

								<div class="checkboxes">
								{% assign now = 'now' | date: '%s' %}
								{% assign recent = now | minus: 5260000 | date: '%s' %}
								{% assign posts = site.documents | where_exp: "item", "item.collection == 'news' or item.collection == 'publications'" | sort: "date" | reverse %}

								{% for post in posts %}
									{% assign postdate = post.date | date: "%s" %}
									{% if postdate > recent %}
									<div class="checkboxes--item">
										<input onchange="updateContent('topics')" class="checkboxes--input" id="{{ post.id | slugify }}" name="notify-posts" type="checkbox" value="{{ post.id | slugify }}" data-title="{{ post.title }}" data-collection="{{ post.collection }}" data-category="{{ post.category | first | slugify }}" data-excerpt="{{ post.excerpt }}" data-date="{{ post.date | date: '%d %B %Y' }}" data-url="https://www.civilservice.lgbt{{ post.url }}" >
	            			<label class="checkboxes--label" for="{{ post.id | slugify }}">
											<strong>{{ post.title }}</strong>
											<span class="hint checkboxes-hint">Post from {{ post.date | date: "%d %B %Y" }}</span>
										</label>
									</div>
									{% endif %}
								{% endfor %}
								</div>

								<hr>

								<p class="label-md">Events</p>
								<p class="hint" style="margin-bottom: 45px">Only events due to take place within the next 2 months are shown.</p>

								<div class="checkboxes">
								{% assign now = 'now' | date: '%s' %}
								{% assign recent = now | plus: 5260000 | date: '%s' %}
								{% assign posts = site.events | sort: "start-date" %}

								{% for post in posts %}
									{% assign event-start-date = post.start-date | date: "%s" %}
									{% if event-start-date > now and event-start-date < recent %}
									<div class="checkboxes--item">
										<input onchange="updateContent('topics')" class="checkboxes--input" id="{{ post.id | slugify }}" name="notify-posts" type="checkbox" value="{{ post.id | slugify }}" data-title="{{ post.title }}"  data-collection="{{ post.collection }}" data-category="{{ post.category | first | slugify }}" data-excerpt="{{ post.excerpt }}" data-date="{{ post.start-date | date: '%d %B %Y' }}" data-url="https://www.civilservice.lgbt{{ post.url }}" >
	            			<label class="checkboxes--label" for="{{ post.id | slugify }}">
											<strong>{{ post.title }}</strong>
											<span class="hint checkboxes-hint"> Event on {{ post.start-date | date: "%d %B %Y" }}</span>
										</label>
									</div>
									{% endif %}
								{% endfor %}
								</div>
						</fieldset>

						<fieldset hidden>

							<legend>Notify email template</legend>
							<p class="hint">These fields contain the information you need to create your email template.</p>

							<hr>

							<label class="label-sm" id="notify--label--template" for="notify--input--template">Notify template name</label>

							<input type="text" class="input" id="notify--input--template" name="notify--input--template" aria-describedby="notify--label--template">

							<hr>

							<label class="label-sm" for="notify--input--subject">Notify subject</label>

							<input type="text" class="input" id="notify--input--subject" name="notify--input--subject" aria-describedby="notify--label--subject">

							<hr>

							<label class="label-sm" for="notify--textarea--message-content">Notify message content</label>

							<textarea class="textarea" id="notify--textarea--message-content" name="notify--textarea--message-content" aria-describedby="notify--label--message-content" rows="20"></textarea>

						</fieldset>

					</div>
				</div>

			</div>

			</div>

		</div>
	</div>

	<div class="grid-row">
		<div class="grid-column-full">

			<div class="admin--step-by-step">

				<div class="grid-row">

					<div class="grid-column-one-third">
						<h2 class="admin-outputs">Set up the template</p>
					</div>
					<div class="grid-column-two-thirds">
						<section class="fieldset--email-notify">
						{% include fields/output-notify-template-step-by-step.html %}
						</section>
					</div>

				</div>

			</div>

		</div>
	</div>

	<div class="grid-row">
		<div class="grid-column-full">

			<div class="admin--step-by-step">

				<div class="grid-row">

					<div class="grid-column-one-third">
						<h2 class="admin-outputs">Send the email</p>
					</div>
					<div class="grid-column-two-thirds">
						<section class="fieldset--email-notify">
						{% include fields/output-notify-send-step-by-step.html %}
						</section>
					</div>

				</div>

			</div>

		</div>
	</div>

</section>

<script type="text/javascript" src="{{ site.url | append: site.baseurl | append: site.js-path | append: '/tools--notify.js' }}"></script>