---
layout: default
meta-info: false
---

<div class="grid-row">

	{% include layouts/header.html %}

</div>

<div class="grid-row">
<div class="grid-column-two-thirds">

	<div id="page--content">

		<!-- NOTE - THIS FORM REQUIRES JQUERY -->

		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">

			<form action="https://lgbt.us17.list-manage.com/subscribe/post?u=ff3af94531f92ff898a64d95c&amp;id=a2cb7ebf53" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">

					<fieldset class="fieldset" aria-describedby="fieldset-group--contact-details">
						<legend id="fieldset-group--contact-details" class="legend-xl">Your contact details</legend>

						<label class="label label-md input-label" for="mce-FNAME">First name  <span class="asterisk">(required)</span></label>
						<input type="text" value="" name="FNAME" class="required input" id="mce-FNAME" required>

						<label class="label label-md input-label" for="mce-LNAME">Last name  <span class="asterisk">(required)</span></label>
						<input type="text" value="" name="LNAME" class="required input" id="mce-LNAME" required>

						<label class="label label-md input-label" for="mce-EMAIL">Email address  <span class="asterisk">(required)</span></label>
						<input type="email" value="" name="EMAIL" class="required email input" id="mce-EMAIL" required>
					</fieldset>

			<div id="mce-responses" class="clear">
				<blockquote class="warning response" id="mce-error-response" style="display:none"></blockquote>
				<blockquote class="warning response" id="mce-success-response" style="display:none"></blockquote>
			</div>

			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ff3af94531f92ff898a64d95c_a2cb7ebf53" tabindex="-1" value=""></div>

			<div class="grid-row">
				<div class="grid-column-full">
					<blockquote>
						<p>Once you have submitted the form, you should receive an email containing a link to update your profile.</p>
					</blockquote>

					<input type="submit" value="Submit update request" name="subscribe" id="mc-embedded-subscribe" class="button">
				</div>
			</div>

		</div>

	</form>

</div>