.page--header {
	@include clearfix;
}

.page--caption {
	@extend %caption-xl;
}

.page--heading {
	@extend %heading-xxl;
	@include responsive-margin(3, "top");
	@include responsive-margin(7, "bottom");
	max-width: 25ch;
}

.page--excerpt {
	@extend %body-lg;
	@include responsive-margin(8, "bottom");
}

.page--meta-info {
	@include responsive-padding(3, "top");
	@include responsive-margin(7, "bottom");

	border-top: 3px solid color("light-gray");

	@include clearfix();
}

.page--meta-info--term,
.page--meta-info--definition {
	position: relative;
	margin-bottom: spacing(1);
	@include media-query($from: tablet) {
		display: inline-block;
		float: left;
		min-width: 10ch;
		margin-bottom: spacing(1);
	}
}

.page--meta-info--term {
	@include media-query($from: tablet) {
		margin-right: spacing(5);
		clear: left;
	}
}

.page--meta-info--definition {
	@include media-query($until: tablet) {
		margin-bottom: spacing(3);
	}
	@include media-query($from: tablet) {
		clear: right;
	}
}

.page--content {
	border-top: 3px solid color("light-gray");
}

.page--aside {
	border-top: 3px solid color("magenta");
}

.page--content,
.page--aside {
	padding: spacing(5) 0;
}