.toolbar {
	position: sticky;
	z-index: 999999;

	bottom: 0;
	top: auto;
	left: 0;
	right: 0;

	padding: spacing(2);

	background: #fff2f9;

	@include clearfix();
}

.dialog {
	z-index: 9999999;
	padding: 0;
	min-width: 50vh;
}

.dialog--title {
	margin: 0;
}

.button--close {
	position: absolute;
	top: spacing(1);
	right: spacing(1);
	left: auto;
	bottom: auto;
}

.button--dialog,
.button--toolbar {
	margin: 0 !important;
}

.dialog--header,
.dialog--content,
.dialog--actions {
	padding: spacing(3);
	margin: 0;
}

.dialog--header,
.dialog--actions {
	background: color('magenta--light');
}