---
layout: default
meta-info: false
breadcrumbs: false
---

<section class="section--{{ page.layout }}">

	<div class="grid-row">
		{% include layouts/header.html %}
	</div>

	<div class="grid-row">
		<div class="grid-column-two-thirds">
			<div class="page--content">

				{{ content }}

			</div>
		</div>
	</div>

	<div class="grid-row">

		<div class="grid-column-one-half">

			<div class="admin--link-block admin--link-block--tool">

			<span class="caption-lg">Tool</span>
			<h2>Create a post</h2>
			<p>Use this tool to add a post to the website, such as news, events or publications.</p>
			<a href="" class="button link--no-underline">Create a post</a>

			</div>

		</div>

		<div class="grid-column-one-half">

			<div class="admin--link-block admin--link-block--guidance">

			<span class="caption-lg">Guidance</span>
			<h2>Learn to format a post</h2>
			<p>Read the guidance about how to format a post using Markdown.</p>
			<a href="" class="button link--no-underline">Read the guidance</a>

			</div>

		</div>

	</div>

	<div class="grid-row">

		<div class="grid-column-one-half">

			<div class="admin--link-block admin--link-block--tool">

			<span class="caption-lg">Tool</span>
			<h2>Upload an image</h2>
			<p>Use this tool to upload an image or photo to the image store.</p>
			<a href="" class="button link--no-underline">Upload an image</a>

			</div>

		</div>

		<div class="grid-column-one-half">

			<div class="admin--link-block admin--link-block--tool">

			<span class="caption-lg">Tool</span>
			<h2>Upload a document</h2>
			<p>Use this tool to upload a document to the document store.</p>
			<a href="" class="button link--no-underline">Upload a document</a>

			</div>

		</div>

	</div>
</section>