---
layout: default
---

<article class="article--{{ page.layout }}">

	<div class="grid-row">

		{% include layouts/header.html %}

	</div>

		<div class="grid-row">

		<ul id="markdown-toc">
			{% for obj in page.objectives %}
			<li><a href="{{ obj.objective | slugify | prepend: '#' }}">{{ obj.objective }}</a></li>
			{% endfor %}
		</ul>


		<div id="markdown-content">

			{{ content }}

			<div class="button-group button-group--clearfix">
				<button id="open-objectives" onclick="openAllObjectives()" class="button--toggle button--align-right hide-when-printed">Show all</button>
				<button id="close-objectives" onclick="closeAllObjectives()" class="button--toggle button--align-right hide-when-printed" hidden>Collapse all</button>
			</div>
			{% for obj in page.objectives %}
			{% assign count-milestones = 0 %}
			{% assign count-completed-milestones = 0 %}

			<details class="objective" id="{{ obj.objective | slugify }}">
				<summary class="objective-summary">

					{{ obj.objective | smartify }}

					{{ obj.description | markdownify }}

					{% for mile in obj.milestones %}
						{% assign count-milestones = count-milestones | plus: 1 %}
						{% if mile.complete == true %}
							{% assign count-completed-milestones = count-completed-milestones | plus: 1 %}
						{% endif %}
					{% endfor %}

					{% if count-milestones == count-completed-milestones %}
						{% assign objective-complete = "complete" %}
					{% else %}
						{% assign objective-complete = "in-progress" %}
					{% endif %}
					<progress class="{{ objective-complete }}" value="{{ count-completed-milestones }}" max="{{ count-milestones }}">{{ count-completed-milestones }} completed out of {{ count-milestones }}</progress>

				</summary>

				{% if obj.details %}
				{{ obj.details | markdownify }}
				{% endif %}

				<ul class="milestones">
				{% assign milestones = obj.milestones | sort: "date" %}
				{% for mile in milestones %}
					<li class="milestone">
						<span class="milestone">
							{% if mile.complete == true %}
							<span class="status complete"><span class="sr-only">Complete</span></span>
							{% else %}
							<span class="status in-progress"><span class="sr-only">In progress</span></span>
							{% endif %}
							{{ mile.milestone | markdownify }}
							<p class="date">{{ mile.date | date: "%B %Y" }}</p>
						</span>
					</li>
				{% endfor %}
				</ul>

				{% if obj.team %}
				<div class="grid-row">
				<div class="grid-column-full">
					<div class="business-plan--team">
					<p class="heading-md">Team members involved in this work</p>
					<p>These are the members of our <a href="/team">volunteer team</a> that are delivering this programme of work. Contact them directly if you'd like to get involved.</p>

					<div class="grid-row">
					{% assign team = obj.team | sort: "name" %}
					{% for member in team %}
						{% assign member-escaped = member.name | slugify %}
						{% assign volunteers = site.team | where_exp: "volunteer", "volunteer.url contains member-escaped" %}
						{% for volunteer in volunteers %}
						<div class="grid-column-one-third">
							<a href="{{ site.url | append: site.baseurl | append: volunteer.url }}" class="volunteer--link">
							{% if volunteer.image %}
							<img src="{{ volunteer.image }}" class="volunteer--image" loading="lazy" alt="a photo of {{ volunteer.name }}">
							{% else %}
							<img src="{{ site.url | append: site.baseurl | append: '/assets/images/volunteers/no-picture.jpg' }}" class="volunteer--image pixelate" alt="a blank profile image">
							{% endif %}
							{% if volunteer.region %}
							<span class="volunteer--role">{{ volunteer.region | capitalize }}</span>
							{% else %}
							<span class="volunteer--role">{{ volunteer.role | capitalize }}</span>
							{% endif %}
							<span class="volunteer--name">{{ volunteer.name }}</span>
							</a>
						</div>
						{% endfor %}
					{% endfor %}
					</div>

					</div>
				</div>
				</div>
				{% endif %}

			</details>

			{% endfor %}

		</div>

		</div>

</article>


<script>
	function openAllObjectives() {
		var objectives = document.getElementsByClassName("objective");
		for (i = 0; i < objectives.length; i++) {
			objectives[i].open = true;
		}
		document.getElementById("open-objectives").hidden = true;
		document.getElementById("close-objectives").hidden = false;
	}
	function closeAllObjectives() {
		var objectives = document.getElementsByClassName("objective");
		for (i = 0; i < objectives.length; i++) {
			objectives[i].open = false;
		}
		document.getElementById("open-objectives").hidden = false;
		document.getElementById("close-objectives").hidden = true;
	}
</script>