---
layout: default
excerpt: false
meta-info: false
---
{% assign now = 'now' | date: '%s' %}
{% assign eventStartDate = page.start-date | date: '%s' %}
{% assign eventEndDate = page.end-date | date: '%s' %}
{% if page.registration-close-date %}
	{% assign registrationCloseDate = page.registration-close-date | date: '%s' %}

	{% if now < registrationCloseDate %}
		{% assign eventRegistrationOpen = true %}
	{% else %}
		{% assign eventRegistrationOpen = false %}
	{% endif %}
{% endif %}

{% if now < eventStartDate %}
	{% assign eventTakenPlace = false %}
{% else %}
	{% assign eventTakenPlace = true %}
{% endif %}

{% if page.link or page.email or page.no-register %}
	{% assign validEventRegistrationInfo = true %}
{% else %}
	{% assign validEventRegistrationInfo = false %}
{% endif %}

{% if page.start-date %}
	{% assign validEventDate = true %}
{% else %}
	{% assign validEventDate = false %}
{% endif %}

{% if page.author %}
	{% unless page.author == "Civil Service LGBT+ Network" %}
		{% assign host = page.author | replace: "The ", "the " %}
	{% else %}
		{% assign host = "Civil Service LGBT+ Network" %}
	{% endunless %}
{% endif %}

{% assign location = page.location %}
{% assign registrationURL = page.link %}
{% assign registrationEmail = page.email %}
{% assign registrationNotRequired = page.no-register %}


<article class="article--{{ page.layout }}">

	<div class="grid-row">
		{% include layouts/header.html %}
	</div>

	<div class="grid-row">
		{% include layouts/event-errors.html %}
		{% include layouts/event-details.html %}
	</div>

	<div class="grid-row">
		<div class="grid-column-two-thirds">

		<div class="page--content">

			{{ content }}

		</div>

		<aside class="event--aside">

			<h1 class="heading-lg">Things you should know when attending our events</h1>

			<details class="more-info">
				<summary>Standards of behaviour</summary>
				<p>By registering for this event, you are agreeing to follow our <a href="{{ site.url | append: site.base-url | append: '/events/standards-of-behaviour' }}">standards of behaviour</a>.</p>
			</details>

			<details class="more-info">
				<summary>Our events are only for civil servants</summary>
				<p>Please register for this event using your Civil Service email address. This usually ends with <code>.gov.uk</code>. Joining instructions will only be sent to verified Civil Service email addresses.</p>
			</details>

			<details class="more-info">
				<summary>Technology problems?</summary>
				<p>If you are trying to join an online event from work device and it doesn't work, we suggest forwarding the details to your personal device or using the phone dial-in options where available.</p>
			</details>

			<details class="more-info">
				<summary>Coronavirus (COVID-19)</summary>
				<p>We follow the latest public health guidance when considering whether our events should take place in person. Please see <a href="https://www.gov.uk/coronavirus">www.gov.uk/coronavirus</a> for the latest Government guidance.</p>
			</details>

		</aside>

	</div>

</article>
