---
layout: default
meta-info: false
---

{% include layouts/home-banner.html %}

<section class="section--{{ page.layout }}">


	<div class="grid-row">
		<div class="grid-column-full">

			<div id="page--content">

			{% assign now = 'now' | date: '%s' %}

			<!-- Blog posts / news updates -->

			{% assign homeCollection = "news" %}
			{% include layouts/home-loop.html %}

			<div class="home--join-us">
				<div class="grid-row">
					<div class="grid-column-one-third">
						<h2>Sign up for our email alerts</h2>
					</div>
					<div class="grid-column-two-thirds">
						<p>Whether you're an LGBT+ civil servant or an ally; sign up for email alerts.</p>

						<p>We'll send you regular updates about our work and how you can get involved; including our regular networking events across the UK.</p>

						<a href="{{ site.url | append: site.baseurl | append: '/email-alerts/' }}" class="button">Sign up for email alerts</a>
					</div>
				</div>
			</div>

			<!-- Events -->

			{% assign homeCollection = "events" %}
			{% include layouts/home-loop.html %}

			<!-- Publications -->

			{% assign homeCollection = "publications" %}
			{% include layouts/home-loop.html %}

			<!-- Consultations -->

			{% assign homeCollection = "consultations" %}
			{% include layouts/home-loop.html %}

			<!-- Topics -->

			{% assign homeCollection = "topics" %}
			{% include layouts/home-loop.html %}

			</div>
		</div>
	</div>
</section>
