---
layout: default
meta-info: false
---

<article class="article--{{ page.layout }}">

	<div class="grid-row">

		{% include layouts/header.html %}

	</div>

	<div class="grid-row">
		<div class="grid-column-two-thirds">

			<div class="page--content">

				{% if page.image %}
				<img src="{{ page.image }}" alt="{{ page.image-alt }}" class="hero-image">
				{% endif %}

				{% if page.video %}
				<div class="embed-responsive embed-responsive-16by9 hero-video">
					<iframe width="560" height="315" src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
				</div>
				{% endif %}

				{{ content }}

			</div>

		</div>
	</div>

</article>