---
layout: default
meta-info: false
excerpt: false
---

<div class="grid-row">
	{% include layouts/header.html %}
</div>

<div class="grid-row">
	<div class="grid-column-two-thirds">

		<div class="page--content">
			<h2 class="heading-md">About this volunteer</h2>
			<dl class="volunteer--details">
				<dt class="volunteer--details--label">Role </dt>
				<dd class="volunteer--details--value">{{ page.role | capitalize }}</dd>
				{% if page.project %}
				<dt class="volunteer--details--label">Projects </dt>
				<dd class="volunteer--details--value">{{ page.project | capitalize | replace: "lgbt", "LGBT" }}</dd>
				{% endif %}
				{% if page.region %}
				<dt class="volunteer--details--label">Region </dt>
				<dd class="volunteer--details--value">{{ page.region }}</dd>
				{% endif %}
			</dl>
		</div>

		{% if page.archive %}
		<div class="page--content">
			<blockquote class="volunteer--archive">
				<h2 class="heading-md">This volunteer no longer works with us.</h2>
				<p>{{ page.person-name }} is a former {{ page.role }} of the Civil Service LGBT+ Network.</p>
			</blockquote>
		</div>
		{% endif %}

		<div class="page--content">

			{{ content }}

		</div>

	</div>
	<div class="grid-column-one-third">

		{% if page.image %}
		<img src="{{ page.image }}" class="volunteer--image--large" loading="lazy">
		{% endif %}
		{% if page.email %}
		<a href="mailto:{{ page.email }}" class="button button--volunteer">Email {{ page.person-name }}</a>
		{% endif %}

	</div>
</div>

