---
layout: default
meta-info: false
caption: true
---

<article class="article--{{ page.layout }}">

	<div class="grid-row">
		{% include layouts/header.html %}
	</div>

	<div class="grid-row">
		<div class="grid-column-full">
			<div class="page--content">

				<div class="grid-row">
					<div class="grid-column-one-half">
						<div class="admin--link-block admin--link-block--tool">
						<span class="caption-lg">Tool</span>
							<h2>Upload an document</h2>
							<p>Use this tool to upload an document or photo to the document store.</p>
							<a href="/documents/new" class="button">Upload an document</a>
						</div>
					</div>
					<div class="grid-column-one-half">
						<div class="admin--link-block admin--link-block--tool">
							<span class="caption-lg">Tool</span>
							<h2>Find an document</h2>
							<p>Use this tool to find an document that has already been uploaded to the document store.</p>
							<a href="/documents/edit" class="button">Find an document</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</article>