---
layout: default
meta-info: false
breadcrumbs: false
---

<section class="section--{{ page.layout }}">

	<div class="grid-row">
		{% include layouts/header.html %}
	</div>

	<div class="grid-row">
		<div class="grid-column-two-thirds">
			<div class="page--content">

				{{ content }}

			</div>
		</div>
	</div>

	<div class="grid-row">
		<div class="grid-column-full">

			<h2>How to guides</h2>

			<div class="page--content">

				<div class="grid-row">
					<div class="grid-column-one-half">
						<div class="admin--link-block admin--link-block--guidance">
							<span class="caption-lg">Guidance</span>
							<h2>Learn to format a post</h2>
							<p>Read the guidance about how to format a post using Markdown.</p>
							<a href="/manual/format-a-post" class="button">Read the guidance</a>
						</div>
					</div>
					<!-- <div class="grid-column-one-half">
						<div class="admin--link-block admin--link-block--guidance">
							<span class="caption-lg">Guidance</span>
							<h2>Learn how to use GitHub</h2>
							<p>Read the guidance about how to add a post to the website using GitHub.</p>
							<a href="/manual/using-github" class="button">Read the guidance</a>
						</div>
					</div> -->
				</div>

			</div>
		</div>
	</div>

	<div class="grid-row">
		<div class="grid-column-one-half">
      <div class="page--content">

			<h2>Add a website post</h2>
      {% assign tools = site.tools | where: "tool-type", "website" %}
      {% for tool in tools %}
				  <details>
            <summary>{{ tool.title | remove: "Add an " | remove: "Add a " | capitalize }}</summary>
				      <p>{{ tool.excerpt }}</p>
				      <a href="{{ tool.url }}" class="button">{{ tool.title }}</a>
				  </details>
      
      {% endfor %}
      
      </div>
		</div>
		<div class="grid-column-one-half">
      <div class="page--content">

			<h2>Create an email alert</h2>
      {% assign tools = site.tools | where: "tool-type", "email-alert" %}
      {% for tool in tools %}
				  <details>
            <summary>{{ tool.title | remove: "Generate " | remove: " email content" | replace: "update", "alert" | capitalize }}</summary>
				      <p>{{ tool.excerpt }}</p>
				      <a href="{{ tool.url }}" class="button">{{ tool.title }}</a>
				  </details>
      
      {% endfor %}
      
      </div>
		</div>
	</div>

	<div class="grid-row">
		<div class="grid-column-one-half">
      <div class="page--content">

			<h2>Use an image</h2>
      {% assign tools = site.tools | where: "tool-type", "image-uploads" %}
      {% for tool in tools %}
				  <details>
            <summary>{{ tool.title | capitalize }}</summary>
				      <p>{{ tool.excerpt }}</p>
				      <a href="{{ tool.url }}" class="button">{{ tool.title }}</a>
				  </details>
      
      {% endfor %}
      
      </div>
		</div>
		<div class="grid-column-one-half">
      <div class="page--content">

			<h2>Use a document</h2>
      {% assign tools = site.tools | where: "tool-type", "document-uploads" %}
      {% for tool in tools %}
				  <details>
            <summary>{{ tool.title | capitalize }}</summary>
				      <p>{{ tool.excerpt }}</p>
				      <a href="{{ tool.url }}" class="button">{{ tool.title }}</a>
				  </details>
      
      {% endfor %}
      
      </div>
		</div>
	</div>

	<div class="grid-row">
		<div class="grid-column-one-half">
      <div class="page--content">

			<h2>Create a social image</h2>
      {% assign tools = site.tools | where: "tool-type", "image-maker" %}
      {% for tool in tools %}
				  <details>
            <summary>{{ tool.title | capitalize }}</summary>
				      <p>{{ tool.excerpt }}</p>
				      <a href="{{ tool.url }}" class="button">{{ tool.title }}</a>
				  </details>
      
      {% endfor %}
      
      </div>
		</div>
		<div class="grid-column-one-half">
      <div class="page--content">

			<h2>Create an email signature</h2>
      {% assign tools = site.tools | where: "tool-type", "email-signatures" %}
      {% for tool in tools %}
				  <details>
            <summary>{{ tool.title | capitalize }}</summary>
				      <p>{{ tool.excerpt }}</p>
				      <a href="{{ tool.url }}" class="button">{{ tool.title }}</a>
				  </details>
      
      {% endfor %}
      
      </div>
		</div>
	</div>
</section>