---
layout: default
meta-info: false
---

{% assign type = page.url | remove: '/tools/new/' | remove: '/' %}

<section id="post-generator" class="section--{{ page.layout }}" data-posttype="{{ type }}">

	<div class="grid-row">
		{% include layouts/header.html %}
	</div>

	<div class="grid-row">
		<div class="grid-column-full">

			<div class="admin--step-by-step">

				<div class="grid-row">

					<div class="grid-column-one-third">
						<h2 class="admin-outputs">Find an existing document</p>
					</div>
					<div class="grid-column-two-thirds">
						<section class="fieldset--post-github">
						{% include fields/documents--find-document.html %}
						</section>
					</div>

				</div>

			</div>

		</div>
	</div>



</section>

<script type="text/javascript" src="{{ site.url | append: site.baseurl | append: site.js-path | append: '/tools--documents.js' }}"></script>