{% if eventTakenPlace == false %}
{% if eventRegistrationOpen != false %}
<section class="section--event-registration">

	<div class="button-group">
		
		{% if page.event.link %}{% unless page.event.link == "" %}
		<a href="{{ page.event.link }}" title="Register for this event" class="button button--event button-half">Register online</a>
		{% endunless %}{% endif %}
		{% if page.event.email %}{% unless page.event.email == "" %}
		<a href="mailto:{{ page.event.email }}" title="Email {{ page.event.email }}" class="button button--event button-half">Register by email</a>
		{% endunless %}{% endif %}
		
	</div>

	{% if page.event.no-register %}{% unless page.event.no-register == "" %}
	<p>{{ page.event.no-register }}</p>
	{% endunless %}{% endif %}

</section>
{% else %}
<!-- This event has already taken place -->
<!-- so no registration buttons to show -->
{% endif %}
{% endif %}