<header class="page--header page--header--{{ page.layout }}">

	<div class="grid-column-full">

	{% unless page.caption == false or layout.caption == false %}

		{% if page.caption != "" and page.caption != nil %}
			<span class="caption-xl">{{ page.caption | capitalize }}</span>
		{% elsif page.collection == "design-system" %}
			{% if page.categories %}
			{% assign caption = page.categories | first %}
			<span class="caption-xl">{{ caption | capitalize }}</span>
			{% endif %}
		{% elsif page.collection %}
			<span class="page--caption">{{ page.collection | capitalize | replace: "-", " " }}</span>
		{% endif %}

	{% endunless %}

	{% if page.layout == "loop" %}
		{% assign title = collection | capitalize | replace: '-', ' ' %}
	{% elsif page.layout == "team" %}
		{% assign title = page.person-name %}
	{% else %}
		{% assign title = page.title %}
	{% endif %}
		<h1 class="page--heading">{{ title }}</h1>
	</div>

	{% unless page.excerpt == false or layout.excerpt == false %}
	<div class="grid-column-two-thirds">

		{{ page.excerpt | prepend: '<p class="page--excerpt">' | append: '</p>' }}

	</div>
	{% endunless %}

	{% unless page.meta-info == false or layout.meta-info == false %}

	<div class="grid-column-full">

		{% if page.author %}
			{% assign author = page.author %}
			{% assign author-escaped = author | slugify | prepend: "/" %}
			{% assign volunteers = site.team | where_exp: "volunteer", "volunteer.url contains author-escaped" %}
		{% else %}
			{% assign author = "Civil Service LGBT+ Network" %}
		{% endif %}

		{% if volunteers == empty %}
		<div class="page--meta-info">

			<dl class="page--meta-info--list">

				<dt class="page--meta-info--term">By</dt>
				<dd class="page--meta-info--definition">{{ author }}</dd>

				<dt class="page--meta-info--term">Published</dt>
				<dd class="page--meta-info--definition">{{ page.date | date: "%d %B %Y" }}</dd>

			</dl>
		</div>
		{% else %}
		<div class="page--meta-info page--meta-info--team-member">

			{% for volunteer in volunteers %}

				<a href="{{ site.url | append: site.baseurl | append: volunteer.url }}" class="volunteer--link volunteer--author">
					{% if volunteer.image %}
					<img src="{{ volunteer.image }}" class="volunteer--image volunteer--image--small" loading="lazy" alt="a photo of {{ volunteer.person-name }}">
					{% else %}
					<img src="{{ site.url | append: site.baseurl | append: '/assets/images/volunteers/no-picture.jpg' }}" class="volunteer--image volunteer--image--small pixelate" alt="a blank profile image">
					{% endif %}
				</a>

				<dl class="page--meta-info--list page--meta-info--list--with-image">

					<dt class="page--meta-info--term">By</dt>
					<dd class="page--meta-info--definition">
						<a href="{{ site.url | append: site.baseurl | append: volunteer.url }}" class="link--no-underline link--text-color">{{ volunteer.person-name }}</a>

					</dd>

					{% if volunteer.role %}
						<dt class="page--meta-info--term">Role</dt>
						<dd class="page--meta-info--definition">
							{% if volunteer.archive == true or volunteer.archive == "true" or page.archive == "true" %}Former{% endif %}
							{{ volunteer.role | capitalize }}{% if volunteer.region %}, {{ volunteer.region }}{% endif %}{% if volunteer.project %}, {{ volunteer.project | capitalize }}{% endif %}
						</dd>
					{% endif %}



					<dt class="page--meta-info--term">Published</dt>
					<dd class="page--meta-info--definition">{{ page.date | date: "%d %B %Y" }}</dd>

				</dl>

			{% endfor %}
		</div>
		{% endif %}

	</div>

	{% endunless %}

</header>
