{% if homeCollection == "events" %}

	{% assign homeLoop = site[homeCollection] | sort: 'event.start' %}
	{% assign homeTitle = "Upcoming " | append: homeCollection %}

	{% assign countOpenEvents = 0 %}
	{% for post in homeLoop %}
		{% assign eventStartDate = post.event.start | date: '%s' %}
		{% if now < eventStartDate %}
			{% assign countOpenEvents = countOpenEvents | plus: 1 %}
		{% endif %}
	{% endfor %}
	{% if countOpenEvents == 0 %}
		{% assign skipLoop = true %}
	{% else %}
		{% assign skipLoop = false %}
	{% endif %}

{% elsif homeCollection == "consultations" %}

	{% assign homeLoop = site[homeCollection] | sort: 'end-date' | reverse %}
	{% assign homeTitle = "Open consultations" %}

	{% assign countOpenConsultations = 0 %}
	{% for post in homeLoop %}
		{% assign consultationEndDate = post.end-date | date: '%s' %}
		{% if now < consultationEndDate %}
			{% assign countOpenConsultations = countOpenConsultations | plus: 1 %}
		{% endif %}
	{% endfor %}
	{% if countOpenConsultations == 0 %}
		{% assign skipLoop = true %}
	{% else %}
		{% assign skipLoop = false %}
	{% endif %}

{% elsif homeCollection == "topics" %}

	{% assign skipLoop = false %}
	{% assign homeLoop = site[homeCollection] | sort: 'date' | reverse %}
	{% assign homeTitle = "Explore " | append: homeCollection %}

{% else %}

	{% assign skipLoop = false %}
	{% assign homeLoop = site[homeCollection] | sort: 'date' | reverse %}
	{% assign homeTitle = "Latest " | append: homeCollection %}

{% endif %}



{% unless homeLoop == empty or skipLoop == true %}
<section id="home--section home--section--{{ homeCollection }}">

	<div class="grid-row">

	<div class="grid-column-one-third">
		<h2 class="home--section-title">
			<a href="{{ site.url | append: site.baseurl | append: '/' | append: homeCollection }}" class="link--no-underline link--text-color">
				{{ homeTitle }}
			</a>
		</h2>
	</div>

	<div class="grid-column-two-thirds">
		<ul class="list--no-styles home--loop--article-list">
			{% assign homePostCount = 0 %}
			{% for post in homeLoop %}
			{% if homePostCount < 3 %}
				{% assign date = post.date | date: '%s' %}

				{% if homeCollection == "events" %}

					{% assign eventStartDate = post.event.start | date: '%s' %}
					{% if eventStartDate < now %}
						{% assign skipPost = true %}
					{% else %}
						{% assign skipPost = false %}
					{% endif %}

				{% elsif homeCollection == "consultations" %}

					{% assign consultationEndDate = post.end-date | date: '%s' %}
					{% if now > consultationEndDate %}
						{% assign consultationOpen = false %}
						{% assign skipPost = true %}
					{% else %}
						{% assign consultationOpen = true %}
						{% assign skipPost = false %}
					{% endif %}

				{% else %}

					{% assign skipPost = false %}

				{% endif %}

				{% if now <= date %}
					{% assign skipPost = true %}
				{% endif %}


				{% unless skipPost == true %}
				{% assign homePostCount = homePostCount | plus: 1 %}
				<li class="loop--article-list--item">
					<article>
						<h2 class="loop--article-list--item--title"><a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}">{{ post.title }}</a></h2>
						<p class="loop--article-list--item--excerpt">{{ post.excerpt }}</p>

						{% if homeCollection == "events" %}
						<p class="loop--article-list--item--meta">Taking place <time datetime="{{ post.event.start | date: '%Y-%m-%d' }}">{{ post.event.start | date:'%-d %B %Y at %H:%M' }}</time></p>
						{% elsif homeCollection == "consultations" %}
						<p class="loop--article-list--item--meta">{% if consultationOpen == true %}Consultation open until{% else %}Consultation closed on{% endif %} <time datetime="{{ post.end-date | date: '%Y-%m-%d %H:%M' }}">{{ post.end-date | date:'%-d %B %Y at %H:%M' }}</time></p>
						{% elsif homeCollection == "topics" %}
						<p class="loop--article-list--item--meta">Topic created <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date:'%-d %B %Y' }}</time></p>
						{% else %}
						<p class="loop--article-list--item--meta">Published <time datetime="{{ date | date: '%Y-%m-%d' }}">{{ date  | date:'%-d %B %Y' }}</time> {% if post.author %}by {{ post.author }}{% endif %}</p>
						{% endif %}
					</article>
				</li>
				{% endunless %}
			{% endif %}
			{% endfor %}
		</ul>
	</div>

	</div>
</section>
{% endunless %}