<header class="home--header">
	<div class="grid-row">
		<div class="grid-column-full">
			<h1 class="home--heading">
				<span class="line-break">We are the </span>
				<span class="line-break home--text--magenta">Civil Service</span>
				<span class="line-break"><span class="home--text--magenta">LGBT+ Network</span>.</span>
			</h1>
		</div>
		<div class="grid-column-two-thirds">
			<p class="lead">We're helping to create a more diverse, inclusive and equal place to work for civil servants with minority sexual orientations, gender identities and expressions, and sex characteristics.</p>
		</div>
	</div>
</header>