{% assign volunteers = site.team | where_exp: "volunteer", "volunteer.role == volunteerType and volunteer.archive != true or volunteer.archive != 'true'" %}
{% if volunteerType == "project team" %}
	{% assign volunteers = volunteers | sort: "project" %}
{% else volunteerType == "local organiser" %}
	{% assign volunteers = volunteers | sort: "region" %}
{% endif %}
{% for volunteer in volunteers %}
<div class="grid-column-one-third">
	<a href="{{ site.url | append: site.baseurl | append: volunteer.url }}" class="volunteer--link">
		{% if volunteer.image %}
		<img src="{{ volunteer.image }}" class="volunteer--image" loading="lazy">
		{% else %}
		<img src="{{ site.url | append: site.baseurl | append: '/assets/images/volunteers/no-picture.jpg' }}" class="volunteer--image pixelate">
		{% endif %}

		{% if volunteer.role == "chair" or volunteer.role == "vice chair" %}
			<span class="volunteer--role">{{ volunteer.role | capitalize }}</span>
		{% else %}
			{% if volunteer.region %}
			<span class="volunteer--role">{{ volunteer.region }}</span>
			{% elsif volunteer.project %}
			<span class="volunteer--role">{{ volunteer.project | capitalize }}</span>
			{% else %}
			<span class="volunteer--role">{{ volunteer.role | capitalize }}</span>
			{% endif %}
		{% endif %}


		<span class="volunteer--name">{{ volunteer.person-name }}</span>
	</a>
</div>
{% endfor %}
